name: ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            python-version: '3.8'
          - os: ubuntu-latest
            python-version: '3.12'
          - os: ubuntu-latest
            python-version: '3.x'
          - os: macos-latest
            python-version: '3.12'
          - os: windows-latest
            python-version: '3.12'
    env:
      PYO3_PYTHON: python
      PYTHONUTF8: '1'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - uses: astral-sh/setup-uv@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - name: Install make on Windows
        if: runner.os == 'Windows'
        shell: pwsh
        run: choco install make --yes
      - name: test
        shell: bash
        run: make test
