name: ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  rust:
    runs-on: ubuntu-latest
    env:
      PYO3_PYTHON: python3
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - uses: astral-sh/setup-uv@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - name: test
        run: make test
